html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden-y;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  height: 53px;
  margin-top: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
}
footer a {
  color: #767676;
  text-decoration: none;
}
footer i {
  color: #767676;
  font-size: 30px;
}
footer span {
  color: #767676;
}

h1 {
  color: #e92569;
  font-family: "Playfair Display", serif;
  font-size: 34px;
}

.container {
  margin-top: 40px;
  margin-left: 75px;
  margin-right: 75px;
}

.navbar {
  height: 70px;
  padding-right: 75px;
  background: #EFEFEF;
}

.btn {
  height: 36px;
  width: 43px;
  background-color: #e92569;
  color: #ffffff;
  border: 1px solid #e92569;
  border-radius: 0px 5px 5px 0px;
  margin-left: -50px;
}

.navbar-brand {
  color: #e92569;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  margin-left: 75px;
  margin-right: 44px;
}

.nav-link {
  font-family: "Lato", sans-serif;
  color: #0a0a0a;
  font-size: 16px;
}

.nav-link.active {
  background-color: #ffffff;
  color: #0a0a0a;
  border-radius: 5px;
}

.form-control {
  width: 202px;
  border: none;
  margin: 0px;
  border-radius: 5px 0px 0px 5px;
  padding-right: 50px;
}

body {
  background-image: radial-gradient(circle at center, #FFFFFF, #E5E5E5);
}

.text-container {
  margin-right: 75px;
  padding-bottom: 60px;
  font-size: 16px;
}

.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #e92569;
}

.tablist-container {
  margin-right: 75px;
  padding-bottom: 60px;
}

.tab-pane {
  border-top: 0;
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 0px 5px 5px 5px lightgrey;
  border-radius: 0px 5px 5px 5px;
}

.nav-tabs .nav-link {
  color: #e92569;
  border: none;
  border-radius: 5px 5px 0px 0px;
}

.share {
  text-transform: uppercase;
  font-size: medium;
}

div i {
  padding-left: 5px;
}

.btn-group {
  margin-top: 30px;
}

#btn-active {
  height: 36px;
  width: 43px;
  background-color: #e92569;
  color: #ffffff;
  border: 1px solid #e92569;
  border-radius: 5px 0px 0px 5px;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16;
}

#btn {
  height: 36px;
  width: 43px;
  background-color: #ffffff;
  color: #e92569;
  border-top: 1px solid #e92569;
  border-bottom: 1px solid #e92569;
  border-radius: none;
  margin-bottom: 20px;
}

#card-btn {
  width: 205px;
  height: 46px;
  color: white;
  background: linear-gradient(to right, #e92569 85%, #767676 15%);
  border: none;
  border-radius: 5px;
  margin: 0;
  font-size: 16;
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 97%;
}

div.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#newscard {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.card-title {
  width: 205px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-text {
  width: 205px;
  margin: 0 auto;
}

.col-one {
  background: #EFEFEF;
  width: 555px;
  height: 100%;
  display: flex;
  margin: 10px;
}

.col-two {
  margin: 10px;
}

#form-btn {
  width: 487px;
  height: 46px;
  color: white;
  background: #767676;
  border: none;
  border-radius: 5px;
  margin: 0;
  font-size: 16;
  align-self: flex-end;
  margin-top: 20px;
}

.form-control {
  width: 487px;
}

.form-check-input {
  background-color: #e92569;
}

.form-check-label {
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */