//carousel
.carousel {
    margin-bottom: 30px;
}

.carousel-inner {
    max-height: 600px;
}

.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: $color-accent;
}

//tablist
.tab-pane {
    background-color: $color-secondary;
    padding: 50px;
    box-shadow: 0px 5px 5px 5px lightgrey;
    border-radius: 0px 5px 5px 5px;
}

.nav-tabs .nav-link {
    color: $color-accent;
    border: none;
    border-radius: 5px 5px 0px 0px;
}

span.share {
    color: $color-black;
    text-transform: uppercase;
}

i.fa-brands.fa-facebook-f {
    color: $color-black;
    margin-left: 5px;
}

i.fa-brands.fa-twitter {
    color: $color-black;
    margin-left: 5px;
}