.navbar {
    height: 70px;  
}

.navbar-brand {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: $color-accent;
    font-weight: bold;
    font-style: italic;
    padding-left: 75px;
}

.nav-link.active {
    background: $color-secondary;
    color: $color-black;
    border-radius: 5px;

}

.nav-link {
    color: $color-black;
    padding: 6px;

}

