//nav
.navbar {
    background: $color-nav;    
    width: 100%;
}

.container-fluid {
    margin-left: 75px;
    margin-right: 75px;
}

a.navbar-brand {
    color: $color-accent;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

a.nav-link {
    margin-left: 30px;
    color: $color-black;
}

a.nav-link.active {
    color: $color-black;
    background-color: $color-secondary;
    border-radius: 5px;
}

.navbar-toggler {
    border: none;
}

//searchform
.btn-outline-success {
    background: $color-accent;
    color: $color-secondary;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin-left: -50px;

    &:hover {
        background: $color-secondary;
        color: $color-accent;
        border: solid 1px $color-accent;
    }
}

.form-control.me-2 {
    width: 202px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-right: 50px;
}

//media queries
@media screen and (max-width: 600px) {

    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-control.me-2 {
        width: 353px;
        font-size: 15px;
    }
}

