#btn-active {
    height: 36px;
    width: 43px;
    background-color: $color-accent;
    color: $color-secondary;
    border: 1px solid $color-accent;
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16;
}

#btn {
    height: 36px;
    width: 43px;
    background-color: $color-secondary;
    color: $color-accent;
    border-top: 1px solid $color-accent;
    border-bottom: 1px solid $color-accent;
    border-radius: none;
    margin: 0;
}

#card-btn {
    width: 205px;
    height: 46px;
    color: $white;
    background: linear-gradient(to right, $color-accent 85%, $color-dark-grey 15%);
    border: none;
    border-radius: 5px;
    margin: 0;
    font-size: 16;
    text-transform: uppercase;
}

#card {
    margin: 10px;
}

.card-img-top {
    width: 100%;
    margin: 0;
    padding: 0;
}